<%- include('./partials/header') %>
    <% if(success.length>0){ %>
      <div class="absolute top-5 left-20 -translate-y-1/2 p-3 rounded-md bg-blue-500">
          <span class="inline-block my-1 text-white">
              <%= success %>
          </span>
      </div>
    <% } %>

  <div class="w-full h-screen px-20 py-20">
      <div class="flex items-center justify-center gap-5 flex-wrap">
        <% if(products.length > 0){ %>
          <% products.forEach((product)=>{ %>
              <div class="w-60">
                  <div class="w-full h-52 flex items-center justify-center bg-[<%= product.bgColor %>]">
                      <img class="h-[12rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                          alt="<%= product.name %>">
                  </div>
                  <div
                      class="flex justify-between bg-[<%= product.panelColor %>] items-center px-4 py-4 text-[<%= product.textColor %>]">
                      <div>
                          <h3>
                              <%= product.name %>
                          </h3>
                          <h4>৳ <%= product.price %>
                          </h4>
                      </div>
                      <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white" href="/addtocart/<%= product._id %>">
                          <i class="ri-add-line"></i>
                      </a>
                  </div>
              </div>
          <% }) %>
        <% } else{ %>
          <p class="text-red-500">No product available.</p>
        <% } %>
      </div>
  </div>

<%- include('./partials/footer') %>
